@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{ 

    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive; 
    --fonte3:  "Sriracha", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);

}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header >h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
    

}

header > p {
    padding-bottom: 50px;

}
a {

    color: white;
    text-decoration: none;
    font-weight: bolder;
}a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: rgb(68, 66, 66);
    color: white;

}

.imagem > p {
    background-color: rgb(43, 42, 42);
    display: inline-block;
    padding: 5px;
}

























footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}